.perm-marker{
    font-family: 'Permanent Marker', cursive;
}

.playfair{
    font-family: 'Playfair Display', serif;
}

.hotlink{
    color:black !important;
}

.border-invis {
    border-bottom: 2px solid transparent;
}

.hotlink:hover, .border-invis:hover{
    color:brown !important;
    border-color:brown;
}


.active-link{
    z-index: 0;
    border-color: grey !important;
}

