.perm-marker{
    font-family: 'Permanent Marker', cursive;
}

.playfair{
    font-family: 'Playfair Display', serif;
}

.hotlink{
    color:black !important;
}

.hotlink:hover{
    color:brown !important;
}

.boder-invis {
    border-bottom: 2px solid transparent;
}

.active-link{
    z-index: 0;
    border-bottom: 2px solid grey;
}

